img{
  width: 24px;
}

.redes{
  margin: 5px;
}

.navbar-brand{
  width: 120px;
}

#welcome{
  width: 300px;
  margin-top: 20px; 
}

.card{
  width: 350px;
}

#ramillete{
  width: 260px;
  margin: 8px;
}




  

